/*STYLE*/

.exported-card{
    color: #333;
    font-family: Martel Sans, sans-serif;
    font-size: 100%;
}

h3 {
    font-family: Martel Sans, sans-serif;
    font-weight: 400, bold;
  }

  .svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
  }

  

  .button-test {
    border: 1px solid #eee;
    border-radius: 50px;
    box-shadow: rgba(0, 12, 32, .04) 0 0 1px 0, rgba(10, 31, 68, .1) 0 3px 4px 0;
    height: 50px;
    line-height: 50px;
    margin-top: .7em;
    padding: 0 25px;
    text-decoration: none;
    will-change: transform;
  }

  .exported-card{
    -webkit-box-align: center;
      align-items: center;
      background-color: #f3f3f3;
      border-radius: 12px;
      margin-bottom: 8em;
  }

  /*CARD-STYLISH*/

  .card-example{
    background-color: #fff;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 2px 0;
    box-sizing: border-box;
    transition: all 350ms;
    transition-behavior: normal;   
    display: inline-block;
    margin: 0;
    max-width: 300px;
    padding: 8px;
    text-align: left;
}

.body-card{
    font-size: .9em;
      padding: 0 .8em;
      text-align: left;
}

.gamecard-title{
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: .8em;
}


.gamecard-desc{
    color: #999;
    margin-top: 0;
}

.card-image{
    border-radius: 7px;
      max-height: 300px;
      overflow: hidden;
      width: 400px;
}

@media screen and (min-width: 1024px) {
    .button-test {
      display: inline-block;
    }

    .card-example {
      margin-left: 10%;
      margin-right: 10%;
    }
  }

  .button svg {
    margin-right: .5em;
  }

  .exported-card h3 {
    font-size: 2em;
    margin-top: 0;
  }


  .card-image img {
    height: auto;
    overflow: hidden;
    transition: all 200ms;
    transition-behavior: normal;
    width: 100%;
  }

  section.exported-card {
    padding: 0 10%;
  }

  section.exported-card {
    width: 100%;
  }

  .exported-card .optitems, .exported-card .text {
    -webkit-box-flex: 1;
    flex: 1;
  }

  .exported-card .optitems {
    align-self: center;
    text-align: center;
  }

  .card-example:hover {
    box-shadow: rgba(0, 12, 32, .04) 0 0 1px 0, rgba(0, 12, 32, .04) 0 10px 16px 0;
  }

  .gamecard-desc .fa-arrow-right {
    float: right;
  }

  .exported-card.second {
    background-color: #292b36;
    color: #fff;
    margin-left: 0;
  }

  .exported-card:not(.codepen) {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg data-cssscan-pro-pattern-index='47' data-cssscan-pro-pattern-opacity='2' data-cssscan-pro-pattern-size='6px' data-cssscan-pro-pattern-back-color='rgba(255%2C%20255%2C%20255%2C%200)' data-cssscan-pro-pattern-front-color='%23000000' xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='100' height='100' patternUnits='userSpaceOnUse' patternTransform='scale(0.3)'%3E%3Cpath data-color='outline' fill='none' stroke='%23000000' stroke-width='5' stroke-opacity='0.02' d='M0 0h100v50H0zM-50 50h100v50h-100zM50 50h100v50h-100z'%3E%3C/path%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-width: 1024px) {
    .card-example:not(.codepen) {
      display: flex;
    }
  }

  .svg-inline--fa.fa-w-14 {
    width: .875em;
  }

  .svg-inline--fa.fa-w-18 {
    width: 1.125em;
  }

  svg:not(:root).svg-inline--fa {
    overflow: visible;
  }

  .card-example:hover .card-image img {
    opacity: .9;
  }

  .exported-card:not(.codepen) {
    padding: 72px !important;
  }
